.About{
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  .About_nav {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    .About_information{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    h1 {
      font-family: "League Spartan", sans-serif;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 60px;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.774);
    }
    p {
      font-family: "League Spartan", sans-serif;
      // font-weight: 500;
      // font-style: "Medium";
      font-size: 24px;
      text-align: center;
      color: rgba(255, 255, 255, 0.445);
      line-height: 24x;
      margin-top: 20px;
    //   margin-right: 250px;
    }
    h4 {
      color: white;
      font-family: "League Spartan", sans-serif;
      font-weight: 400;
      font-size: 40px;
    }
    .About_line {
      width: 500px;
      height: 5px;
      border-radius: 5px;
      background: linear-gradient(
        101.9deg,
        rgba(201, 34, 227, 0.4) 7.67%,
        rgba(153, 30, 234, 0.4) 52.66%,
        rgba(73, 23, 246, 0.4) 93.7%
      );
    }
  }
}
