#Header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100; 
  top: 0;
  padding: 20px 0; 
  background: black;
  z-index: 1000;
  .Header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 15px; 
    .Header_nav {
      display: flex;
      align-items: center;
      gap: 20px;

      h3 {
        font-size: 18px;
        border: 1px solid white;
        color: white;
        padding: 6px 12px;
        border-radius: 50px;
        font-weight: 500;
        margin-bottom: 0; 
      }
    }

    
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 15px;

      .Header_nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        h3 {
          font-size: 14px; 
          padding: 4px 10px;
        }
      }
    }
  }
}