#Header {
  // display: flex;
  // position: fixed;
  // width: 100%;
  position: sticky;
  top: 0;
  padding: 25px 0;
  background:black;
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Header_nav {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 20px;
      h3 {
        display: flex;
        font-size: 22px;
        background: rgba(3, 14, 19, 0.932); 
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
  animation: slideIn 0.5s ease-out; 
      }
    }
  }
}
